# Upstash Redis
KV_REST_API_URL=
KV_REST_API_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Security
AUTH_SECRET= # Run 'openssl rand -base64 32' to generate one

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# SMTP (Emails)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=
FROM_NAME="Angeli Visions"

# SEO
NEXT_PUBLIC_SITE_URL=https://angelivisions.com
