# Upstash Redis
KV_REST_API_URL=
KV_REST_API_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Security
AUTH_SECRET= # Run 'openssl rand -base64 32' to generate one

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Resend (Email)
RESEND_API_KEY=
FROM_EMAIL=noreply@angelivision.com
FROM_NAME=Angeli Visions
REPLY_TO=contact@angelivisions.com
ADMIN_EMAIL=contact@angelivisions.com

# SEO
NEXT_PUBLIC_SITE_URL=https://angelivisions.com
